@charset "UTF-8";
body {
  text-align: center;
  font-size:24px;
  font-style: Helvetica;
  margin:0;
  padding:0;
}

form{
  padding-top: 80px;
}

#ladescreen{
  position: absolute;
  margin:0;
  padding:0;
  left: 0;
  width: 100%;
  height: 2000px;
  background-color: white;
}

#hinweis{
  width: 68%;
  height: 68px;
  margin-left: 16%;
  margin-bottom: 15px;
  /*Border*/
  border: 2px;
  border-color: green;
  border-style: solid;
  border-radius: 7px;
}

#schriftHinweis{
  font-size: 18px;
  text-align: left;
  background-color: green;
  color: white;
  padding: 5px 0px 5px 10px;
}

#bestaetigung{
  padding: 5px 0px 5px 10px;
  text-align: left;

}


#headline{
  text-align: center;
  font-size: 30px;
}

.block{
  margin-top: 5px;
  width:70%;
  height: 210px;
  border:2px;
  border-style: solid;
  border-color: #DDDDDD;
  margin-left: 15%;
}

.frage{
  width: 85%;
  margin-bottom: 23px;
  margin-left:10%;
  float: left;
  text-align: left;
}

#blockheadline{
  height: 100px;
  margin-top: 0;
  padding-top: 0;
}

#blockanfang{
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
#blockende{
  height: 300px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.sliderbox{
  padding-top:20px;
}

.slider{
  padding-left: 30px;
}

#verbesserung{
  width: 70%;
  height: 150px;
  text-align: left;
}

.pfeil{
  width: 5%;
  height: auto;
}

.plus{
  z-index: 2;
  width: 30px;
  height: auto;
  float: right;
  margin-top: 24px;
  margin-right: 10px;
}

#submitButton{
    width: 10%;
    margin-top: 40px;
    margin-bottom: 300px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
}
