body {
    margin-top: 15%;
    text-align: center;
}

.glyphicon {
    font-size: 250px;
    margin-top: 20px;
}

.login-feld {
    padding-top: 10%;
    padding-left: 50%;
}

#input {
    size: 100%;
}

.username {
    margin-bottom: 10px;
}

#einloggen {
    margin-left: 136px;
    margin-top: 10px;
}
