body {
  margin-top: 5%;
  text-align: center;
  margin-left: -32%;
}
.glyphicon {
    font-size: 50px;
    margin-top: 0px;
    padding: 0;
    margin-left: -90%;
}
.thumbnail {
  margin-top: -30px;
  padding-bottom: 100px;
  margin-left: 0px;
}
.caption {
  margin-left: -90%;
  padding: 0px;
  margin-top: -2%;
}
#startzeit {
  margin-top: -10%;
  margin-left: -60%;
}
#dauer {
  margin-left: -60%;
}
#teamLinks {
  margin-left: -20%;
}
#teamRechts {
  margin-right: -20%;
  margin-top: -4.15%;
}
#versus {
  margin-top: -5%;
}
#punkteText {
margin-left: -40%;
margin-top: -0%;
}
#punkteTeamLinks {
margin-left: 212px;
margin-top: -38px;
}
#punkteTeamRechts {
margin-left: 325px;
margin-top: -34px;
}
.form-control {
  width: 50px;
}
