/* Start des CSS für Header */

.thumbnail {
    width: 1140px;
    height: auto;
}
#header-top {
    font-size: 65px;
    margin-bottom: 25px;
}
#header {
    font-size: 60px;
    margin-bottom: 25px;
}
/* Ende des CSS für Header */
/* Start des CSS für Header-Bomberman */

.thumbnail-bomberman {
    height: auto;
}
/* Ende des CSS für Header-Bomberman */
/* Start des CSS für Header-Vorrunde-Bomberman */

#header-vorrunde {
    font-size: 45px;
    margin-bottom: 25px;
}
/* Ende des CSS für Header-Vorrunde-Bomberman */
/* Start des CSS für Game-Teeworlds */
.glyphicon {
    font-size: 120px;
}

.icon_und_spielNummer {
    width: 120px;
}

#gameNumber {
    margin-top: -2px;
    text-align: center;
}

.teams_und_vs {
    margin-top: 3%;
    text-align: center;
}

.teams_und_vs h3 {
    display: inline;
    font-size: 55px;
}
.punkte h3 {
  display: inline;
  font-size: 30px;
}
#punkteLinks {
  margin-left: 17%;
}
#punkteRechts {
  margin-left: 30.5%;
}
.start_und_dauer h3 {
  display: inline;
}
/* Ende des CSS für Game-Teeworlds */
.active-game {
  border-color: green;
  border-width: 5px;
}
